@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
    margin-bottom: 16px;
}

header {
    padding: 0.5em 1em;
    background-color: orangered;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.top_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


footer{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
}

.recipes_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

img {
    height: 200px;
}


footer {
    position:relative;
    bottom: 0;
    background-color: greenyellow;
    padding: 2em;
}

a {
    text-decoration: none;
    color: white;
}

.recipe_name {
    color: green;
}

a:hover {
    color: green;
}

h1 {
    color: green;
}

.ingredients tr:nth-child(even) {
   background-color: lightgray;
}